body {
      padding-bottom: 40px;
      color: #5a5a5a;
    }
    
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
    }
    
    .carousel {
      margin-bottom: 60px;
    }
    
    .carousel-caption {
      z-index: 1;
    }
    
    .carousel .item {
      height: 400px;
      background-color: #555;
    }
    
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 400px;
    }
    
    .marketing {
      padding-left: 15px;
      padding-right: 15px;
    }
    
    .marketing .col-lg-4 {
      text-align: center;
      margin-bottom: 20px;
    }
    
    .marketing h2 {
      font-weight: normal;
    }
    
    .marketing .col-lg-4 p {
      margin-left: 10px;
      margin-right: 10px;
    }
    
    .featurette-divider {
      margin: 80px 0;
    }
    
    .featurette {
      padding-top: 120px;
      overflow: hidden;
    }
    
    .featurette-image {
      margin-top: -120px;
    }
    /*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    
    .featurette-image.pull-right {
      margin-left: 40px;
    }
    
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }
    
    @media (min-width: 768px) {
      .marketing {
        padding-left: 0;
        padding-right: 0;
      }
      .navbar-wrapper {
        margin-top: 20px;
        margin-bottom: -90px;
      }
      .navbar-wrapper .navbar {
        border-radius: 4px;
      }
      .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
      }
    }

#red{
  color: firebrick
  
}

#grey{
  color: dimgray
}